/* Color variables */
:root{
  --color-background-body: linear-gradient(90deg, rgb(0, 24, 70), rgb(0, 7, 20));
  --color-headline: rgb(68, 153, 255);
  --color-app-background: #ffffff;
  --color-element-background: rgb(47, 69, 81);
  --color-table-border: #d4e2e6;
  --color-table-alternate-td: #f8f8fd;
}

/* Font variables */
:root{
  --font-monospace: 'Courier New', Courier, monospace;
  --font-system: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html {
  font-size: 1.4rem;
}

html, body, #root {
  height: 100%;
  min-width: 100%;
  overflow-x: auto;  
}

body {  
  font-family: var(--font-system);
  background-color: var(--color-app-background);
}

.login-div {
  background-image: var(--color-background-body);
  height: 100%;
  width: 100%;
  padding-top: 2rem;
}

.login-h2 {
  color: var(--color-headline);
  text-align: center;
  font-size: 1.6rem;
}

.login-btn {
  width: 24rem;
  margin-top: 0.4rem;
  color: var(--color-app-background);
  background-color: var(--color-headline);
}

.login-form {
  padding: 1rem;
  color: var(--color-headline);
  border: 0.05rem solid rgb(68, 153, 255);
  border-radius: 0.4rem;
  margin: 0 auto;
  width: 24rem;
  display: flex;
  flex-direction: column;
}

.login-input-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.4rem;
  background-color: var(--color-element-background);
  height: 2rem;
  border-radius: 0.4rem;
}

.login-input { 
  width: 90%;
  background: transparent;
  border: transparent;
  color: var(--color-app-background);
  text-align: center;
  font-size: 1rem;
}

.login-input::placeholder {
  color: var(--color-app-background);
}

.login-input:focus {
  outline: none;
  box-shadow: none;
}

.app-header {
  color: var(--color-headline); 
  background-color: var(--color-element-background);
  font-family: var(--font-monospace);
  padding-left: 1rem;
  padding-right: 1rem;
}

.app-header-h1 {
  font-size: 2rem;
  margin: 0;
}

.app-header-btn-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app-header-btn {
  font-family: var(--font-monospace);
  font-weight: bold;
  font-size: 1rem;
  color: var(--color-headline);
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border: none;
}

.select-project {
  margin: 0.4rem 1rem 0.4rem 1rem;
  width: 11rem;
  font-family: var(--font-system);
  background-color: var(--color-element-background);
  font-size: 1rem;
  color: var(--color-app-background);
  border-radius: 0.4rem;
  border: none;  
}

.table-div {
  overflow-x: auto;
}

.table {
  margin: 0.4rem 1rem 0.4rem 1rem;
  border-collapse: collapse;  
}

.table tbody tr:nth-child(odd) {
  background-color: var(--color-table-alternate-td);
}

.table-th {
  text-align: left;
  padding: 0 0.6rem 0 0.6rem;
}

.table-td {
  padding: 0 0.6rem 0 0.6rem;
  border: 1px solid var(--color-table-border);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-td:hover {
  white-space: normal;
  overflow: visible;
}

.table-td-items {
  cursor: pointer;
}

.table-td-id {
  min-width: 6rem;
  max-width: 6rem;
}

.table-td-epc {
  min-width: 14rem;
  max-width: 14rem;
}

.table-td-date {
  min-width: 10rem;
  max-width: 10rem;
}

.table-td-service-name {
  min-width: 7rem;
  max-width: 7rem;
}

.table-td-user {
  min-width: 10rem;
  max-width: 10rem;
}

.table-td-user-timestamp {
  min-width: 14rem;
  max-width: 14rem;
}

.table-td-value {
  min-width: 10rem;
  max-width: 10rem;
}
